.navbar-header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}

.navbar-header img{
    cursor: pointer;
    height: 70px;
    position: absolute;
    left: 0px;
    width: 90px;
}

.navbar-header .navbar-ul {
    align-items: center;
    color: white;
    display: flex;
    font-weight: 600;
    gap: 20px;
    justify-content: left;
    padding-left: 25px;
    text-transform: capitalize;
    font-family: Roboto;
    font-weight: 400;

}

.navbar-header .navbar-ul li {
    cursor: pointer;
    transition: 1s;
}

.navbar-header .navbar-ul li:hover {
    transform: scale(1.05);
    border-bottom: 2px solid rgb(247, 1, 255);
}

